#components-form-demo-normal-login .login-form {
    max-width: 300px!important;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right!important;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left!important;
}
#components-form-demo-normal-login .login-form-button {
    width: 100% !important;
}

.containerr{
    max-width: 1440px;
    margin: 0 auto;
}
@media (max-width: 1440px) {
    .containerr {
        max-width: 92%;
    }
}

:root {
    --bg-color: #fff;
    --headings-color: #000000;
    --desc-color: #000000;
}

.container-background{
    min-height: 100vh !important;
}
body[data-theme="dark-theme"] {
    --bg-color: #222;
    --headings-color: #fff;
    --desc-color: #fff;
}

body[data-theme="sea-theme"] {
    --bg-color: #ffe699;
    --headings-color: #96ceb4;
    --desc-color: #ff9292;
}

body[data-theme="sharp-theme"] {
    --bg-color: #ff7777;
    --headings-color: #a2416b;
    --desc-color: #852747;
}

.container-background{
    background: var(--bg-color);
}
.theme-login{
    background: var(--bg-color);
}

h2, h3, h5, h6 {
    color: var(--headings-color);
}

.ck.ck-editor__editable_inline {
    color: #000;
}
